*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(211,211,211,0.6);
}

.calculator-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(130px, auto) repeat(5, 100px);
}

.calculator-container > button {
    font-size: 2rem;
    border: 4px black solid;
    outline: none;
    background-color: rgba(49,49,49,1);
    transition: background-color 0.25s;
    color: rgba(247,247,247,1);
    cursor: pointer;
}

.calculator-container > button.number:hover {
    background-color: rgba(49,49,49,0.75);
}

.calculator-container > button.delete-tools {
    background-color: rgba(180,180,180,1);
    color: rgba(0,0,0,0.8);
}

.calculator-container > button.delete-tools:hover {
    background-color: rgba(211,211,211,0.75);
}

.calculator-container > button.operations {
    border-right: 10px black solid;
}

.calculator-container > button.operations:hover {
    background-color: rgba(0,160,160,0.75);
}

.calculator-container > button.left-side {
    border-left: 10px black solid;
}

.calculator-container > button.bottom-side {
    border-bottom: 10px black solid;
}

.calculator-container > button.top-side {
    border-top: none;
}

.calculator-container > button.two-columns {
    grid-column: 2 span;
}

.calculator-container > button.zero {
    border-bottom-left-radius: 12px;
}

.calculator-container > button.equals {
    border-bottom-right-radius: 12px;
}

.calculation-container {
    grid-column: 1 / -1;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 16px 12px 4px 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    word-break: break-all;
}

.calculation-container > div.previous-expression {
    font-size: 1.5rem;
    color: rgba(255,255,255,0.8);
}

.calculation-container > div.current-expression {
    font-size: 2.5rem;
    color: rgba(255,255,255,1);
}
